          <div class="table-responsive">
            <table class="table table-striped instance-list">
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="hidden-xs hidden-sm">Key</th>
                  <th colspan="2">CPU<span class="hidden-xs hidden-sm"> Usage</span></th>
                  <th colspan="2">Memory<span class="hidden-xs hidden-sm"> Usage</span></th>
                </tr>
              </thead>
              <tbody>
              {{#each instances}}
                <tr data-client-key="{{clientKey}}">
                  <td><a href="/instances/dashboard/{{clientKey}}">{{name}}</a></td>
                  <td class="hidden-xs hidden-sm"><a href="/instances/edit/{{clientKey}}">{{clientKey}}</a></td>
                  <td class="cpu-usage">-% </td>
                  <td class="graph"><div class="cpu-graph" data-client-key="{{clientKey}}"></div></td>
                  <td class="memory-usage">-%</td>
                  <td class="graph"><div class="memory-graph" data-client-key="{{clientKey}}"></div></td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>